<h2>Clothing Items</h2>

{{!-- Table that shows all of the clothing items --}}
<table id="clothingitems-table">
    <thead>
        {{!-- Print column headers --}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Associated Garment Set</th>
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print attributes in order --}}
        {{#each data}}
        <tr data-value={{this.clothingID}}>
            <td>{{this.clothingID}}</td>
            <td>{{this.clothingName}}</td>
            <td>{{this.clothingDescription}}</td>
            <td>{{this.garmentName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Search for a clothing item --}}
{{!-- <h3>Search for a Clothing Item</h3>
<p>Search by entering a clothing item name in the form below:</p>
<form id="search-clothingitem-html" method='GET' action='/clothingitems'>
    <label for="input-clothingName">Search by Clothing Item Name: </label>
    <input type="text" name="clothingName" id="input-clothingName-html-search">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form> --}}


{{!-- Create a new clothing item --}}
<h3>Add New Clothing Item</h3>
<p>Enter new clothing item information in the form below:</p>
<form id="add-clothingitem-form" onsubmit="addClothingItem(inputClothingName.value, inputClothingDescription.value, inputGarmentID.value)">
    <label for="input-clothingName">Name: </label>
    <input type="text" name="inputClothingName" id="input-clothingName">

    <label for="input-clothingDescription">Description: </label>
    <input type="text" name="inputClothingDescription" id="input-clothingDescription">

    <label for="input-garmentID">Associated Garment Set: </label>
    <select name="inputGarmentID" id="input-garmentID">
        {{! <option value="">Select a Garment Set</option> }}
        {{#each garments}} 
        <option value="{{this.garmentID}}">{{this.garmentName}}</option>
        {{/each}}
    </select>

    <div><input type="submit"></div>
</form>


{{!-- Update a clothing items CURRENTLY AJAX SETUP BUT WE CAN DO HTML POST--}}
<h3>Update a Clothing Item</h3>
<p>Use the form below to update information for a clothing item:</p>
<form id="update-clothing-item-form" onsubmit="updateClothingItem(inputClothingIDNew.value, inputClothingDescriptionNew.value, inputGarmentIDNew.value)">

    <label for="input-clothingNameNew">Name: </label>
    <select name="inputClothingIDNew" id="input-clothingNameNew">
        {{! <option value="">Select the Clothing Name</option> }}
        {{#each data}}
        <option value="{{this.clothingID}}">{{this.clothingName}}</option>
        {{/each}}
    </select>

    <label for="input-clothingDescriptionNew">Description: </label>
    <input type="text" name="inputClothingDescriptionNew" id="input-clothingDescriptionNew">

    <label for="input-garmentIDNew">Associated Garment Set: </label>
    <select name="inputGarmentIDNew" id="input-garmentIDNew">
        {{! <option value="">Select a Garment Set</option> }}
        {{#each garments}}
        <option value="{{this.garmentID}}">{{this.garmentName}}</option>
        {{/each}}
    </select>
    <div><input type="submit"></div>

</form>

{{! ADD CLOTHING ITEM JAVASCRIPT }}
<script src="./js/clothing_items_js/add_clothing_item.js" type="text/javascript"></script>

{{! UPDATE CLOTHING ITEM JAVASCRIPT }}
<script src="./js/clothing_items_js/update_clothing_item.js" type="text/javascript"></script>