<h2>Transaction Details</h2>

{{!-- Table that shows all of the transaction details --}}
<table id="transactiondetails-table">
    <thead>
        {{!-- Print column headers --}}
        <tr>
            <th>ID</th>
            <th>Transaction</th>
            <th>Ingredient Name</th>
            <th>Ingredient Quantity</th>
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print attributes in order --}}
        {{#each data}}
        <tr data-value={{this.transactionDetailsID}}>
            <td>{{this.transactionDetailsID}}</td>
            <td>{{this.transactionDetails}}</td>
            <td>{{this.ingredientName}}</td>
            <td>{{this.ingredientQty}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Create a new transaction detail --}}
<h3>Add New Transaction Detail</h3>
<p>Enter the ingredient and ingredient quantity details from a transaction using the form below:</p>
<form id="add-transactiondetail-form" onsubmit="addTransactionDetails(inputTransactionID.value, inputIngredientID.value, inputIngredientQty.value)">
    <label for="input-transactionID">Transaction: </label>
    <select name="inputTransactionID" id="input-transactionID">
        <option value="">Select a Transaction</option>
        {{#each transactions}}
        <option value="{{this.transactionID}}">{{this.transactionDate}}, {{this.player}}</option>
        {{/each}}
    </select>

    <label for="input-ingredientID">Ingredient Name: </label>
    <select name="inputIngredientID" id="input-ingredientID">
        <option value="">Select an Ingredient</option>
        {{#each ingredients}}
        <option value="{{this.ingredientID}}">{{this.ingredientName}}</option>
        {{/each}}
    </select>

    <label for="input-ingredientQty">Ingredient Quantity: </label>
    <input type="number" name="inputIngredientQty" id="input-ingredientQty">

    <div><input type="submit"></div>
</form>

{{! ADD TRANSACTION DETAILS JAVASCRIPT }}
<script src="./js/transaction_details_js/add_transaction_details.js" type="text/javascript"></script>